@media (max-width: 1439px) {
	.container {
		max-width: 100%;
		flex-direction: column;
	}

	.main-content {
		flex: 0 0 100%;
	}

	.dashboard-aside,
	.dashboard-nav {
		display: none;
	}

	.dashboard-header-mobile {
		position: sticky;
		top: 0;
		display: flex;
		min-height: 55px;
		background-color: var(--brand-main-color);
		z-index: 99;
		align-items: center;
		padding: 0 18px;
		justify-content: space-between;

		.logo {
			display: block;
		}

		.profile {
			display: flex;
			.placeholder {
				display: block;
				width: 18px;
				height: 18px;
				background-color: white;
				border-radius: 100%;

				&:first-child {
					margin-right: 21px;
				}
			}
		}
	}

	.dashboard-feed {
		flex-direction: column;

		&__articles {
			padding: 0 15px;
			flex: unset;

			& .filters {
				&__by-relevance {
					margin: 0;
					margin-bottom: 5px;

					.latest {
						margin-right: 40px;
					}
				}
				&__by-type {
					padding: 0;

					> *:not(.icon-filter-mobile) {
						display: none;
					}

					.icon-filter-mobile {
						display: block;
						font-size: 21px;
					}
				}
			}

			&-container {
				margin-top: 1px;
			}

			&-single {
				padding: 0 15px;

				.article {
					&__meta {
						font-size: 12.8px;
						min-height: 54px;
						margin: 0 -15px;
						padding: 0 15px;

						.feed {
							margin-left: 5px;
						}

						.separator {
							display: none;
						}

						.subfeed {
							display: block;
							margin: 0;
							font-size: 16px;
							margin-top: 4px;
						}
					}

					&__title {
						.author-picture {
							flex: 0 0 35px;
							width: 35px;
							height: 35px;
						}

						.author {
							font-size: 12.8px;
						}

						.title {
							font-size: 17.6px;

							a {
								color: var(--brand-dark-grey-color);
								text-decoration: none;
							}
						}
					}

					&__excerpt {
						font-size: 14.72px;
					}

					&__actions {
						position: relative;
						.like,
						.save,
						.more {
							cursor: pointer;
							display: flex;
							align-items: center;
							&:not(.more) {
								min-width: 105px;
							}

							.icon {
								font-size: 21px;
							}

							.text {
								font-size: 16px;
							}
						}

						.more {
							position: unset;

							&::after {
								display: none;
							}

							&__menu {
								padding: 20px;
								width: 298px;
								height: 129px;
								position: fixed;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								

								&::after {
									content: unset;
								}

								ul {
									justify-content: space-around;
									flex-direction: column;
									height: 100%;
								}

								.hide-article-form {
									top: 50%;
									left: 50%;
									transform: translate(-50%, -50%);
									
								}
							}
						}
					}
				}
			}
		}

		&__widgets {
			width: 100%;
			padding: 0 15px;
			margin-top: 15px;
			min-width: unset;

			&-item {
				margin-bottom: 12px;
			}
		}
	}
}
