// We define Sass variables, handy if we use Sass color functions like lighten o darken
$brand-main-color: #242d38;
$brand-secondary-color: #304c70;
$brand-dark-grey-color: #49494f;
$brand-medium-grey-color: #8c8d91;
$brand-light-grey-color: #ececf1;
$brand-highlight-color: #e4871b;
$brand-articles-border: #DDDEDF;
$brand-blue-highlight-color: #99B2D3;
$brand-background-color: $brand-light-grey-color;

:root {
	--brand-main-color: #{$brand-main-color};
	--brand-secondary-color: #{$brand-secondary-color};
	--brand-dark-grey-color: #{$brand-dark-grey-color};
	--brand-medium-grey-color: #{$brand-medium-grey-color};
	--brand-light-grey-color: #{$brand-light-grey-color};
	--brand-highlight-color: #{$brand-highlight-color};
	--brand-background-color: #{$brand-background-color};
	--brand-articles-border: #{$brand-articles-border};
	--brand-blue-highlight-color: #{$brand-blue-highlight-color};
}