html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
*,
*:before,
*:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

.container {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
}

.dashboard-aside {
	flex: 0 0 255px;
	min-height: 100vh;

	&--brand-main-color {
		background-color: var(--brand-main-color);
	}

	&__logo {
		padding: 47px 46px 0;
		img,
		a {
			display: block;
		}
	}

	&__menu {
		margin-top: 101px;
		padding-left: 46px;
		&-item {
			padding: 16px 0 15px;
			margin-bottom: 3px;
		}

		.placeholder {
			cursor: pointer;
			display: block;
			width: 111px;
			height: 10px;
			background-color: var(--brand-light-grey-color);
		}
	}

	&__menu--unstyled {
		list-style-type: none;
	}
}

.dashboard-header-mobile {
	display: none;
}

.main-content {
	flex: 0 0 1185px;

	&--grey {
		background-color: var(--brand-light-grey-color);
	}
}

.dashboard-nav {
	min-height: 65px;
	display: flex;
	z-index: 999;

	&--white {
		background-color: white;
	}

	& > * {
		display: flex;
		align-items: center;
	}

	&__backlink {
		justify-content: space-between;
		padding-left: 26px;
		flex: 0 0 864px;

		&-container {
			display: flex;
			align-items: center;
			cursor: pointer;

			.placeholder-icon {
				display: block;
				width: 18px;
				height: 18px;
				background-color: var(--brand-main-color);
				border-radius: 50%;
				margin-right: 8px;
			}

			.placeholder-text {
				display: block;
				width: 136px;
				height: 10px;
				background-color: var(--brand-main-color);
			}
		}

		.placeholder-link-highlight {
			cursor: pointer;
			display: block;
			width: 136px;
			height: 10px;
			background-color: var(--brand-highlight-color);
			margin-right: 27px;
		}
	}

	&__help {
		flex: 0 0 68px;
		justify-content: center;

		.placeholder-icon {
			cursor: pointer;
			display: block;
			width: 18px;
			height: 18px;
			background-color: var(--brand-medium-grey-color);
			border-radius: 50%;
			margin-right: 1px;
		}
	}
	
	&__notification {
		flex: 0 0 68px;
		justify-content: center;

		.placeholder-icon {
			cursor: pointer;
			display: block;
			width: 18px;
			height: 18px;
			background-color: var(--brand-medium-grey-color);
			border-radius: 50%;
			margin-right: 3px;
		}
	}
	
	&__profile {
		flex-grow: 1;

		.placeholder-icon {
			cursor: pointer;
			display: block;
			width: 18px;
			height: 18px;
			background-color: var(--brand-medium-grey-color);
			border-radius: 50%;
			margin-left: 21px;
			margin-right: 10px;
		}

		.placeholder-text {
			cursor: pointer;
			display: block;
			width: 91px;
			height: 10px;
			background-color: var(--brand-medium-grey-color);
		}
	}

	.separator {
		border-right: 1px solid var(--brand-light-grey-color);
	}
}

.dashboard-feed {
	padding-top: 24px;
	display: flex;

	&__articles {
		flex: 0 0 750px;
		padding-left: 23px;
		padding-right: 25px;
		word-break: break-word;

		& .filters {
			display: flex;
			justify-content: space-between;
			line-height: 2.25;

			&__by-relevance {
				display: inline-flex;
				align-items: center;
				margin-left: 7px;
				font-size: 17.6px;
				font-weight: bold;
				color: var(--brand-medium-grey-color);

				span {
					cursor: pointer;
					display: block;

					&:not(.highlight):hover {
						color: var(--brand-dark-grey-color);
					}
				}

				.latest {
					margin-right: 46px;
				}

				.highlight {
					color: var(--brand-highlight-color);
				}
			}

			&__by-type {
				display: inline-flex;
				align-items: center;
				font-weight: normal;
				color: var(--brand-dark-grey-color);
				padding-right: 11px;

				.icon-filter-mobile {
					display: none;
				}
				
				.select-container {
					position: relative;
				}

				.show {
					font-size: 14.72px;
				}

				.type {
					font-family: inherit;
					font-weight: 600;
					border: none;
					appearance: none;
					width: 70px;
					text-align: center;
					font-size: 17.6px;
					padding-right: 7px;
					position: relative;
					top: 1px;
					background-color: transparent;
				}

				.type-icon {
					position: absolute;
					right: 0;
					top: 52%;
					transform: translateY(-50%);
				}
			}
		}

		&-container {
			margin-top: 7px;
		}

		&-single {
			border: 1px solid var(--brand-articles-border);
			border-radius: 4px;
			background-color: white;
			padding: 0 30px;
			margin-bottom: 10px;

			.article {
				&__meta {
					font-size: 17.6px;
					font-weight: bold;
					display: flex;
					justify-content: space-between;
					align-items: center;
					min-height: 44px;
					border-radius: 3px 3px 0 0;
					margin: 0 -30px;
					padding: 0 30px;
					background-color: var(--brand-light-grey-color);

					.file-icon {
						font-size: 15px;
					}

					.feed {
						margin-left: 12px;
						margin-right: 10px;
					}

					.subfeed {
						margin-left: 6px;
					}

					.blue {
						color: var(--brand-secondary-color);
					}

					.light-blue {
						color: var(--brand-blue-highlight-color);
					}

					.published {
						font-size: 12.8px;
						font-weight: lighter;
						color: var(--brand-dark-grey-color);

						.date {
							margin-top: 1px;
							position: relative;
							top: 1px;
							left: 2px;
						}

						.clock-icon {
							margin-right: 6px;
							font-size: 15px;
							position: relative;
							top: 2px;
						}
					}
				}

				&__title {
					display: flex;
					margin: 0 -30px;
					padding: 26px 30px 0;

					.author-picture {
						flex: 0 0 50px;
						width: 50px;
						height: 50px;
						margin-right: 20px;
						margin-bottom: 20px;
						background-color: var(--brand-main-color);
						border-radius: 100%;
						overflow: hidden;
						img {
							max-width: 100%;
						}
					}

					.author {
						font-size: 16px;
						font-weight: bold;
						color: #a3a3a8;
						position: relative;
						top: -5px;
						margin-bottom: 2px;

						.author-name {
							padding-right: 3px;
						}
						.company-name {
							padding-left: 3px;
						}
					}

					.title {
						font-size: 22.4px;
						font-weight: bold;
						margin-bottom: 14px;

						a {
							color: var(--brand-dark-grey-color);
							text-decoration: none;
						}
					}
				}

				&__excerpt {
					color: $brand-dark-grey-color;
					margin: 0 -30px 23px;
					padding: 19px 30px 0;
					border-top: 1px solid var(--brand-light-grey-color);
					font-size: 19.2px;
					font-weight: lighter;

					a {
						font-weight: bold;
						color: var(--brand-highlight-color);
						text-decoration: none;
					}
				}

				&__featured-image {
					margin-bottom: 21px;
				}

				&__actions {
					display: flex;
					margin-bottom: 26px;
					color: var(--brand-dark-grey-color);

					.like,
					.save,
					.more {
						cursor: pointer;
						display: flex;
						align-items: center;
						&:not(.more) {
							min-width: 115px;
						}

						.icon {
							font-size: 25px;
							z-index: 9;
							&:not(.icon-more) {
								margin-right: 5px;
							}
						}

						.text {
							font-size: 18px;
						}
					}

					.like:hover:not(.clicked),
					.like.clicked {
						color: red;
					}

					.save:hover:not(.clicked),
					.save.clicked {
						color: green;
					}

					.more {
						position: relative;
						color: var(--brand-medium-grey-color);

						&:hover::after,
						&.open::after {
							background-color: #f3f3f8;
						}

						&::after {
							content: "";
							position: absolute;
							width: 35px;
							height: 35px;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);

							z-index: 1;
						}

						&.open .more__menu {
							display: block;
						}

						&__menu {
							cursor: default;
							display: none;
							position: absolute;
							left: -4px;
							top: calc(100% + 8px);
							width: 190px;
							height: 90px;
							background-color: white;
							border: 1px solid var(--brand-articles-border);
							box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
							padding: 15px;
							color: var(--brand-dark-grey-color);
							z-index: 99;

							&::after {
								content: "";
								position: absolute;
								width: 100%;
								height: 10px;
								top: -10px;
								left: 0;
							}

							ul {
								list-style: none;
								display: flex;
								flex-direction: column;

								li {
									cursor: pointer;
									display: flex;
									align-items: center;

									&:first-child {
										margin-bottom: 15px;
									}

									.menu-icon {
										font-size: 21px;
										margin-right: 8px;
									}
								}
							}

							.hide-article-form {
								cursor: default;
								display: none;
								position: absolute;
								left: -1px;
								top: -1px;
								width: 290px;
								height: 398px;
								background: white;
								border: 1px solid var(--brand-articles-border);
								z-index: 999;
								box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);

								&.open {
									display: block;
								}

								&__header {
									background-color: #f0f0f1;
									display: flex;
									height: 48px;
									align-items: center;
									padding: 3px 15px 0;

									&__icon {
										cursor: pointer;
										font-size: 21px;
										margin-right: 8px;
									}
								}

								form {
									padding: 19px 27px 25px 23px;
									

									fieldset {
										border: none;
									}
									
									div {
										display: flex;
										font-size: 14.72px;
										margin-bottom: 20px;
										line-height: 1.35;
										position: relative;
										
										label {
											cursor: pointer;
											display: flex;
											align-items: center;
										}
										
										input[type="radio"] {
											display: none;
										}

										input[type="radio"]:checked + label {
											font-weight: bold;
										}
										
										input[type="radio"]:checked + label::before {
											content: "";
											display: block;
											width: 9px;
											height: 9px;
											background: var(--brand-dark-grey-color);
											position: absolute;
											left: 6px;
											top: 6px;
											border-radius: 100%;
										}

										.radio {
											font-size: 21px;
											margin-right: 9px;
											align-self: baseline;
										}

										
									}
									button {
										margin-top: 5px;
										display: block;
										width: 100%;
										height: 42px;
										background-color: transparent;
										border: 1px solid black;
										
										&[disabled]{
											opacity: .5;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}

	&__widgets {
		min-width: 412px;
		display: block;

		.is-sticky {
			top: 89px;
		}

		&-item {
			height: 156px;
			background-color: var(--brand-secondary-color);
			border-radius: 4px;
			border: 1px solid lighten($brand-medium-grey-color, 25%);
			padding-left: 21px;
			padding-top: 35px;
			margin-bottom: 23px;

			.placeholder-title {
				cursor: pointer;
				display: block;
				width: 327px;
				height: 10px;
				background-color: white;
				margin-bottom: 16px;
			}

			.placeholder-text {
				cursor: pointer;
				display: block;
				width: 195px;
				height: 10px;
				background-color: white;
			}
		}
		&-button {
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			border: 2px solid var(--brand-secondary-color);
			border-radius: 4px;
			width: 100%;
			height: 56px;
			margin: 0 3px 0 0;

			.placeholder-text {
				display: inline-block;
				width: 109px;
				height: 10px;
				margin-right: 6px;
				background-color: var(--brand-secondary-color);
			}

			.placeholder-icon {
				display: inline-block;
				width: 18px;
				height: 18px;
				border-radius: 100%;
				background-color: var(--brand-secondary-color);
			}
		}
	}
}
